section {
    width: 100%;
    background: #1a1d1f;
}

section:nth-of-type(2n) {
    background: #282741;
}

#portfolio {
    padding: 5% 0;
}

#projets {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section .projet {
    display: flex;
    color: white;
    text-align: center;
}

section .projet:hover>.projet-text,
section .projet-text:hover {
    opacity: 1;
    transform: scale(100%, 100%);
}

section .projet-text {
    padding: 20%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    margin: auto;
    transform: scale(50%, 50%);
    opacity: 0;
    transition: all .8s ease;
}

section .projet h2 {
    color: #ff6464;
    margin-bottom: 10px;
}

#portfolio {
    background: linear-gradient(30deg, darkred, purple, darkblue, black);
    display: flex;
    color: #ff6464;
}

#portfolio h2 {
    margin: auto;
}